# Variables that need to be set to run StrainFinder workflow.

PATH_TO_SCRIPTS="/home/gdouglas/scripts/pangenome_working"

STRAINFINDER_FOLDER="/home/gdouglas/local/prg/StrainFinder"

PARENT_WORKING_DIR="/data1/gdouglas/projects/honey_bee/combined_Ellegaard.2019.2020/StrainFinder_running"

WORKING_DIR_NAME="Bifidobacterium_core_genes"

INPUT_GENE_IDS="/data1/gdouglas/projects/honey_bee/combined_Ellegaard.2019.2020/StrainFinder_running/gene_ids/core_genes/Bifidobacterium_core_genes.txt"

MASTER_FASTA="/data1/gdouglas/projects/honey_bee/combined_Ellegaard.2019.2020/map_against_pandora_ref/bowtie2_db/pandora_multisample.vcf_ref_edit.fa"

ALL_SAMPLES="/data1/gdouglas/projects/honey_bee/combined_Ellegaard.2019.2020/mapfiles/Ellegaard2019_and_2020_SRR_ids.txt"

BAM_FILE_DIR="/data1/gdouglas/projects/honey_bee/combined_Ellegaard.2019.2020/map_against_pandora_ref/mapped_reads/"

BAM_SUFFIX="merged.bam"

MIN_DEPTH="10"

NUM_CORE="20"

MAX_REPS="1000"

MAX_NUM_STRAINS_TO_TEST=30

MAX_TIME="3600"

N_KEEP="3"

DTOL="1"

NTOL="2"

CONDA_PROFILE="/home/gdouglas/local/miniconda3/etc/profile.d/conda.sh"
